.gameboy-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .gameboy-list {
    grid-template-columns: 1fr;
  }
}
